<section class="hit-location-type-selector">
    <button mat-raised-button color="primary">Bipedal</button> 
    <button mat-raised-button color="primary" disabled>Quadrupedal</button>
</section>
<section class="hit-location-holder">
    <div>
        <label for="viewmode">Layout: </label>
        <button mat-fab color="primary" (click)="layout3d=false" id="viewmode">2D</button>
        <button mat-fab color="primary" (click)="layout3d=true">
            <i class="material-icons">3d_rotation</i>
        </button>
    </div>
    <section class="hexagon-holder" [ngClass]="{'layout3d': layout3d}">
        <div class="hexagon-column column-left">
            <div class="hexagon">
                <i class="material-icons attack-direction attack-back-left">keyboard_arrow_up</i>
            </div>
            <div class="hexagon">
                <i class="material-icons attack-direction attack-front-left">keyboard_arrow_up</i>
            </div>
        </div>
        <div class="hexagon-column">
            <div class="hexagon">
                <i class="material-icons attack-direction attack-back">keyboard_arrow_up</i>
            </div>
            <div class="hexagon hexagon-center">
                <span>Target</span>
            </div>
            <div class="hexagon">
                <i class="material-icons attack-direction attack-front">keyboard_arrow_up</i>
                <span>Front</span>
            </div>
        </div>
        <div class="hexagon-column column-right">
            <div class="hexagon">
                <i class="material-icons attack-direction attack-back-right">keyboard_arrow_up</i>
            </div>
            <div class="hexagon">
                <i class="material-icons attack-direction attack-front-right">keyboard_arrow_up</i>
            </div>
        </div>
    </section>
    <i class="material-icons target" [ngClass]="{'layout3d': layout3d}">accessibility</i>
    <mat-icon class="target" svgIcon="accessibility" aria-hidden="false" aria-label="target"></mat-icon>

    <button mat-raised-button color="primary" (click)="roll()">Roll</button>
    <div>Result: {{result}}</div>
</section>
