@import '../mixins.scss'; 

.hit-location-type-selector {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-bottom: 1px solid #bcbcbc;
    button {
        margin-left: 5px;
        margin-bottom: 5px;
    }
}
.hit-location-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .layout-selector {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 5px;
        border-right: 1px solid #bcbcbc;
        flex: 85px 1 1;
        z-index: 100;
    }
    .height-selector {
        display: flex;
        flex-direction: column;
        padding: 20px 5px 0 20px;
        border-left: 1px solid #bcbcbc;
        flex: 60px 1 1;
        text-align: center;
    }
    .reach-selector{
        display: flex;
        flex-direction: column;
        padding: 20px 5px 0 20px;
        text-align: center;
        flex: 60px 1 1;
    }
    .roll {
        flex: 100%;
    }
    .result {
        border-top: 1px solid #bcbcbc;
        border-bottom: 2px solid rgb(20, 9, 168);
        width: 100%;
        padding: 20px;
    }
    .hexagon-holder {
        flex: 325px 0 0;
        height:360px;
        display: flex;
        transition: all 0.5s ease;
        &.layout3d {
            @include perspectiveRotateXZ(50deg, 0deg);
            perspective-origin: center;
            transform-origin: center center;
            &.direction60 {
                @include perspectiveRotateXZ(50deg, 60deg);
            }
            &.direction120 {
                @include perspectiveRotateXZ(50deg, 120deg);
            }
            &.direction180 {
                @include perspectiveRotateXZ(50deg, 180deg);
            }
            &.direction240 {
                @include perspectiveRotateXZ(50deg, 240deg);
            }
            &.direction300 {
                @include perspectiveRotateXZ(50deg, 300deg);
            }
        }
        .hexagon-column {
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            &.column-right {
                margin-top: 53px;
                margin-left: -50px;
            }
            &.column-left {
                margin-top: 53px;
                margin-right: -50px;
            }
            .hexagon:before {
                content: " ";
                width: 0; 
                height: 0;
                border-right: 30px solid rgb(30, 202, 233);
                border-top: 52px solid transparent;
                border-bottom: 52px solid transparent;
                position: absolute;
                top: 0;
                left: -30px;
            }
            
            .hexagon {
                margin-top: 30px;
                width: 60px;
                height: 104px;
                background-color: rgb(30, 202, 233);
                position: relative;
                margin: 1px 31px;
                text-align: center;
                &.hexagon-center {
                    span {
                        margin-top: 80px;
                        display: block;
                    }
                }
            }
            
            .hexagon:after {
                content: "";
                width: 0;
                position: absolute;
                bottom: 0;
                left: 60px;
                border-left: 30px solid rgb(30, 202, 233);
                border-top: 52px solid transparent;
                border-bottom: 52px solid transparent;
            }
        }
    }
    .target {
        position: absolute;
        margin-top: -225px;
        margin-left: 122px;
        font-size: 80px;
        transition: all 0.5s ease;
        pointer-events: none;
        &.hit-marker {
            color: red;
            margin-top: -200px;
            margin-left: 158px;
            font-size: 16px;
            font-weight: bold;
            &:not(.bipedal), &.none {
                display: none;
            }
            &.bipedal.face {
                margin-top: -220px;
                margin-left: 158px;
            }
            &.bipedal.skull {
                margin-top: -228px;
                margin-left: 158px;
            }
            &.bipedal.neck {
                margin-top: -213px;
                margin-left: 158px;
            }

            &.bipedal.rShoulder {
                margin-top: -208px;
                margin-left: 151px;
            }
            &.bipedal.lShoulder {
                margin-top: -208px;
                margin-left: 164px;
            }
            &.bipedal.chest, &.bipedal.spine {
                margin-top: -200px;
                margin-left: 158px;
            }
            &.bipedal.heart {
                margin-top: -202px;
                margin-left: 161px;
            }
            &.bipedal.langs {
                margin-top: -202px;
                margin-left: 155px;
            }
            &.bipedal.abdomen  {
                margin-top: -194px;
                margin-left: 158px;
            }
            &.bipedal.hips  {
                margin-top: -190px;
                margin-left: 158px;
            }
            &.bipedal.lShoulderblade  {
                margin-top: -203px;
                margin-left: 163px;
            }
            &.bipedal.rShoulderblade  {
                margin-top: -203px;
                margin-left: 152px;
            }

            &.bipedal.lArm {
                margin-top: -208px;
                margin-left: 172px;
            }
            &.bipedal.lElbow {
                margin-top: -208px;
                margin-left: 177px;
            }
            &.bipedal.lForeArm {
                margin-top: -208px;
                margin-left: 182px;
            }
            &.bipedal.lHand {
                margin-top: -208px;
                margin-left: 187px;
            }

            &.bipedal.rArm {
                margin-top: -208px;
                margin-left: 142px;
            }
            &.bipedal.rElbow {
                margin-top: -208px;
                margin-left: 138px;
            }
            &.bipedal.rForeArm {
                margin-top: -208px;
                margin-left: 131px;
            }
            &.bipedal.rHand {
                margin-top: -208px;
                margin-left: 127px;
            }

            &.bipedal.lThight {
                margin-top: -179px;
                margin-left: 164px;
            }
            &.bipedal.lKnee {
                margin-top: -173px;
                margin-left: 164px;
            }
            &.bipedal.lCalf, &.bipedal.lShin {
                margin-top: -167px;
                margin-left: 164px;
            }
            &.bipedal.lAnkel {
                margin-top: -164px;
                margin-left: 164px;
            }
            &.bipedal.lFoot {
                margin-top: -161px;
                margin-left: 164px;
            }

            &.bipedal.rThight {
                margin-top: -179px;
                margin-left: 151px;
            }
            &.bipedal.rKnee {
                margin-top: -173px;
                margin-left: 151px;
            }
            &.bipedal.rCalf, &.bipedal.rShin {
                margin-top: -167px;
                margin-left: 151px;
            }
            &.bipedal.rAnkel {
                margin-top: -164px;
                margin-left: 151px;
            }
            &.bipedal.rFoot {
                margin-top: -161px;
                margin-left: 151px;
            }
            
            &.layout3d {
                display: none;
                font-size: 20px;
                margin-top: -330px;
                margin-left: 63px;
            }
        }
        &.serpent {
            margin-top: -230px;
            margin-left: 135px;
        }
        &.layout3d {
            margin-top: -330px;
            font-size: 200px;
            margin-left: 63px;
            @include perspectiveRotateXY(-50deg, 0deg);
            &.serpent {
                margin-top: -240px;
                margin-left: 135px;
            }
        }
        &.direction60 {
            @include perspectiveRotateXY(-50deg, -60deg);
        }
        &.direction120 {
            @include perspectiveRotateXY(-50deg, -120deg);
        }
        &.direction180 {
            @include perspectiveRotateXY(-50deg, -180deg);
        }
        &.direction240 {
            @include perspectiveRotateXY(-50deg, -240deg);
        }
        &.direction300 {
            @include perspectiveRotateXY(-50deg, -300deg);
        }
    }
    .attack-direction{
        display: block;
        font-size: 60px;
        margin-top: 22px;
        color: #cccccc;
        cursor: pointer;
        &.selected {
            color: #222222;
        }
        &.attack-front {
        
        }
        &.attack-front-right {
            transform: rotate(-60deg);
        }
        &.attack-front-left {
            transform: rotate(60deg);
        }
        &.attack-back {
            transform: rotate(180deg);
        }
        &.attack-back-left {
            transform: rotate(120deg);
        }
        &.attack-back-right {
            transform: rotate(-120deg);
        }
}
}