.page {
    display: grid;
    grid-template-columns:  350px auto 350px;
    grid-template-rows:  10vh 6vh auto 300px 50px;
    padding: 0;
    header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        background-color: rgb(20, 9, 168);
        .title {
            color: white;
            font-size: 2rem;
            margin: calc( 5vh - 1rem ) auto 0;
            width: fit-content;
        }
    }
    nav {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border-bottom: 2px solid rgb(20, 9, 168);
        display: flex;
        justify-content: space-between;
        .nav-buttons {
            display: flex;
            button {
                height: 40px;
            }
        }
        form {
            justify-self: flex-end;
        }
    }
    .content {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    footer {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
        background-color: rgb(20, 9, 168);
        color: white

    }
    .ads-left {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .ads-right {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    .ads-bottom {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}