<div class="page">
  <header>
    <h1 class="title">Hit Location</h1>
  </header>
  <nav>
    <button routerLink="/home">Home</button> | 
    <button routerLink="/hitlocation">Hit Loaction</button>
  </nav>
  <aside class="ads-left"><ng-adsense></ng-adsense></aside>
  <aside class="ads-right"><ng-adsense></ng-adsense></aside>
  <aside class="ads-bottom"><ng-adsense></ng-adsense></aside>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
  <footer>@2020 by 8 Continents ltd. | about</footer>
</div>