@mixin perspectiveRotateXY($XRoatation, $YRotation) {
    -webkit-transform: perspective(600px) rotateX($XRoatation) rotateY($YRotation);
    -moz-transform: perspective(600px) rotateX($XRoatation) rotateY($YRotation);
    -ms-transform: perspective(600px) rotateX($XRoatation) rotateY($YRotation);
    -o-transform: perspective(600px) rotateX($XRoatation) rotateY($YRotation);
    transform: perspective(600px) rotateX($XRoatation) rotateY($YRotation);
}

@mixin perspectiveRotateXZ($XRoatation, $ZRotation) {
    -webkit-transform: perspective(600px) rotateX($XRoatation) rotateZ($ZRotation);
    -moz-transform: perspective(600px) rotateX($XRoatation) rotateZ($ZRotation);
    -ms-transform: perspective(600px) rotateX($XRoatation) rotateZ($ZRotation);
    -o-transform: perspective(600px) rotateX($XRoatation) rotateZ($ZRotation);
    transform: perspective(600px) rotateX($XRoatation) rotateZ($ZRotation);
}

$hitMarkerOffsetTop: -157px;
$hitMarkerOffsetLeft: 126px;

$hitMarkerOffset3DTop: -188px;
$hitMarkerOffset3DLeft: 90px;

$hitMarkerMultiplayer3DTop: 90/50;
$hitMarkerMultiplayer3DLeft: 200/96;

$human: (
  (face, -78, 32),
  (skull, -85, 32),
  (neck, -75, 32),

  (rShoulder, -70, 22),
  (lShoulder, -70, 42),
  (chest, -63, 32),
  (spine, -57, 32),
  (heart, -58px, 37),
  (lungs, -63, 27),
  (abdomen, -53, 32),
  (hips, -46, 32),

  (lShoulderblade, -63, 37),
  (rShoulderblade, -63, 29),

  (lArm, -59, 46),
  (lElbow, -53, 46),
  (lForeArm, -46, 46),
  (lHand, -35, 44),
  (rArm, -59, 18),
  (rElbow, -53, 18),
  (rForeArm, -46, 18),
  (rHand, -35, 20),

  (lThight, -35, 37),
  (lKnee, -24, 37),
  (lCalf, -14, 37),
  (lShin, -14, 37),
  (lAnkel, -4, 37),
  (lFoot, 0, 37),
  
  (rThight, -35, 27),
  (rKnee, -24, 27),
  (rCalf, -14, 27),
  (rShin, -14, 27),
  (rAnkel, -4, 27),
  (rFoot, 0, 27),
);

@mixin hitMarkerPosition() {

    @each $label, $markerTop, $markerLeft in $human {
        
        &.bipedal.#{$label} {
            margin-top: $markerTop + $hitMarkerOffsetTop;
            margin-left: $markerLeft + $hitMarkerOffsetLeft;
            &.layout3d {
                margin-top: $markerTop * $hitMarkerMultiplayer3DTop + $hitMarkerOffset3DTop;
                margin-left: $markerLeft * $hitMarkerMultiplayer3DLeft + $hitMarkerOffset3DLeft;
            }
        }
    }
}