<article>
    <h3>Statement (What we do)</h3>
    <p>
        For all lovers of games and the thrill that comes with them, here is an all-exciting and awe-inspiring game that introduces you to an adventurous world of fury and defence, with smart hits and all that come with them. This is a “once in a lifetime” offer for you to enjoy a quick but more realistic way to extend your gameplay. And guess what? It is totally free and usable by any game system.
    </p>
    <h4>What we don’t do</h4>
    <p>
        This system only offer the hit’s location we will not tell you how to handle it.
    </p>
    <p>
        If player make a successful hit of the eye of the opponent. It could mean small cut over the eye of the monster, the consequence could range from a disturbance of the monster’s vision to a total eye loss. This part is not simulated! It is up to you!
    </p>
    <h3>
        What is hit location?
    </h3>
    <p>
        In a role playing game, otherwise known as table top RPG, players take on different characters and ‘act’ out roles according to set rules. Depending on the number of players the game allows (it could be a single player or a multiplayer game), these players go on quests, come across monsters on their way, and make use of hit location dices to take them down by hitting them at target points.
    </p>
    <p>
        Usually, in games like this, there is a Game Master (GM) that sets out the rules of the game. As a player, you attack by specifying the target point on your opposition’s body. It could be his head, torso, arms and legs. At the point where the attacker aims, he would need to add the aiming penalty to his hit role. For each target hit, the attacker rolls only the particular area for a hit, randomly.
    </p>
    <p>
        Hit locations may either be general or specific.
    </p>
    <h3>
        Typical approaches and issues.
    </h3>
    <p>
        Many games simply ignore and only use hit-points to measure damage, this approach is not too realistic.
    </p>
    <p>
        Players could use simple hit location dice. It is a quick way and gives a simple result. It can be rigid as not include the circumstances.
    </p>
    <p>
        Some players use hit location tables which can easily can get complicated and need multiple dice roll which could slow down gameplay. Or if too simple, then rigid and inaccurate.
    </p>
    <p>
        You can be assured that you are on the right platform, where you need not worry about your possibilities of winning. Everyone is welcome to try his hands and skills out on our hit location games, with a high probability of winning.
    </p>
    <h3>
        Solution
    </h3>
    <p>
        We offer online simple click and hit calculations, and also offer customisable and downloadable tables which can used with one D100 dice roles to determine the hit location.
    </p>
    <h4>
        a) Different Species
    </h4>
    <p>
        You will find out that the fight of an Orc warrior is very different from battling a giant snake or spider. Out Hit Location game affords you different species and characters that give you the thrill, the chills and the zing all at once. You can give the right kind of damage to snakes, spiders and human enemies. For instance, when I attack a snake I should never hit its legs, while when I attack a human sized spider it is mostly legs. ;)
    </p>
    <p>
        So our solution has different chances for different species.
    </p>
    <h4>
        b) Direction
    </h4>
    <p>
        This is an important one. Which storyteller did not run in the situation when the rough character sneaks up behind the evil wizard and backstabs it and we roll simple hit location dice and it is the stomach?? Or When attack a giant spider from the one side and hits the foot on the opposite side? It breaks the illusion.
    </p>
    <p>
        In our solution, we use hexagonal grid, which is the most typically used in role playing games. You can select the direction of the attack, and get a result fitting the circumstance.
    </p>
    <h4>
        c) Height difference
    </h4>
    <p>
        The height difference between a player and his opponent can be result in a situation when a human is attacking a giant or he target having the high ground. Let’s take a look at the giant. When a player’s character swings his sword and hits the giants head the third time in a row, this is not realistic at all. He has zero chance to hit the head and very large chance to hit lower part of the body.
    </p>
    <h4>
        d) Weapon reach
    </h4>
    <p>
        Our solution can calculate this, adjusting the chances of the different areas of the body for the right targets to hit.
    </p>
    <p>
        It is a bit similar to the height difference, as if I attack the side of a giant spider with a knife I will hit only the legs closest to me. However If I have a spear I can reach the body or even the far legs of it. We are all out to ensure that you have the best excitement ever; hence, you have an arsenal of weapons within your reach, to give your opponent just the right kind of impact you want, without stressing you. This way, you do not have to spend so much time in combat.
    </p>
    <h3>
        5. Current State and Roadmap
    </h3>
    <p>
        Find out interesting Working directions for humans and snakes. These have been specially designed to have some visual effects like 2D and 3D views. Now, you can have non-stop fun and feel like you are really part of the game with the virtual experience you can never recover from.
        Check out the heights of all players and attackers. You will find tall and normal heights which are within normal reach. Have you been in search of mechanics that work will all systems? Here are the right hit location games for you, designed in different versions and can be integrated into many systems. Some D100 role tables are also generated.
    </p>
    <h3>
        Roadmap:
    </h3>
    <ul>
        <li>Add shorter opponent calculation.</li>
        <li>Add short or long reach calculation</li>
        <li>Add Hit location ‘x’ to the 3d visualisation</li>
        <li>Add more species.</li>
        <li>Add more accurate images for the species.</li>
        <li>Add Customisable Hit Location Tables.</li>
        <li>Add PDF table for printing.</li>
    </ul>
</article>
